@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

strong {
  font: bold;
}

#nav-bar {
  background: rgb(4, 132, 132);
  background: linear-gradient(
    0deg,
    rgba(4, 132, 132, 1) 0%,
    rgba(5, 165, 165, 1) 100%
  );

  display: flex;

  z-index: 10;

  height: 40px;
  width: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;

  padding: 0px 20px 0px 20px;

  font-size: 20px;

  display: flex;

  /* position: relative;
  top: 10px; */

  height: 40px;
  width: fit-content;

  transition: all 0.2s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-img {
  padding: 5px 0 5px 0;
  width: 30px;
  height: 30px;
}

.nav-text {
  padding: 10px 0 10px 10px;
  line-height: 1;
}

.nav-link-menu {
  font-size: 20px;

  display: grid;

  z-index: 10;

  height: 40px;
  width: fit-content;

  transition: all 0.2s ease;
}

.nav-link-expand {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;

  font-size: 20px;

  z-index: 10;

  height: 40px;

  text-align: center;

  grid-row: 1/2;
  grid-column: 1/2;
}

.nav-link-expand-text {
  padding: 10px 0 10px 0;
  line-height: 1;
}

.nav-link-menu:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link-list {
  background-color: rgb(4, 132, 132);

  z-index: 9;

  position: relative;
  top: 0px;

  grid-row: 2/3;
  grid-column: 1/2;

  /* transition: top 0.4s ease; */
}

.nav-link-list.closed {
  top: -200px;
}

.nav-link.menu {
  padding: 10px;

  cursor: pointer;

  width: auto;
  height: auto;
}

.nav-link.menu:nth-child(n + 2) {
  cursor: not-allowed;
}
