@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

strong {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "roboto";
  font-size: 18px;

  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

hr {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(154, 154, 154, 1) 15%,
    rgba(154, 154, 154, 1) 85%,
    rgba(0, 0, 0, 0) 95%
  );

  height: 1px;
  border: none;

  margin: 50px 0 50px 0;
}

.section-container {
  padding: 0px 25px 0 25px;

  width: 1300px;
}

.section-header-group {
  display: flex;

  align-items: center;

  padding: 20px;
  padding-top: 200px;
}

.section-header {
  font-size: 2.5em;
  margin-right: 20px;
}

.section-header-number {
  color: rgb(5, 165, 165);
  font-size: 5em;
}

.section-subheader {
  font-size: 1.2em;
  padding-bottom: 20px;
}

.section-embed {
  width: calc(100% - 100px);
  margin: 0 50px 0 50px;
}

.section-text-list {
  list-style-type: disc;
  padding-left: 20px;

  line-height: 1.5;
}

.section-text {
  font-size: 18px;
  padding: 30px;

  display: grid;

  padding-left: 40px;
}

/* .section-text-content {
  grid-row: 2/3;
  grid-column: 1/2;
} */

.section-image-container {
  grid-row: 1/3;
  grid-column: 2/3;

  display: flex;
  justify-items: center;
  align-items: center;
}

.section-image {
  width: 500px;
}

@media (max-width: 1000px) {
  .section-image {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .section-text-content {
    font-size: 0.8em;
  }

  .section-subheader {
    font-size: 1em;
  }

  .section-header-group {
    padding-top: 100px;
  }

  .section-header {
    font-size: 2em;
  }

  .section-header-number {
    font-size: 4em;
  }

  hr {
    margin: 25px 0 25px 0;
  }
}

footer {
  background-color: rgb(236, 236, 236);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 100px;

  height: 200px;
  width: 100%;
}

.footer-link {
  padding: 20px;
}

.carousel-container {
  overflow-x: hidden;

  display: grid;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;

  left: 0;

  position: relative;

  opacity: 100%;

  padding: 25px 0 25px 0;

  width: calc(100%);
  height: 600px;

  grid-row: 1/2;
  grid-column: 1/2;

  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); */

  transition: opacity 0.5s linear, left 0.5s ease;
}

.carousel-item.clear {
  opacity: 0%;
}

.carousel-item.left {
  left: -100vw;
}

.carousel-item.right {
  left: 100vw;
}

#carousel-nav-bar {
  /* background-color: rgb(54, 88, 187); */

  display: flex;
  flex-direction: row;

  justify-content: center;

  --button-scaler: 30px;

  grid-row: 2/3;
  grid-column: 1/2;

  padding: 10px;
}

.carousel-step-button {
  background-color: rgba(0, 0, 0, 0);

  width: var(--button-scaler);
  height: var(--button-scaler);

  cursor: pointer;

  margin: 0;
  padding: 0;
  border: 0;
}

.carousel-step-button:focus {
  outline: 2px solid rgb(5, 165, 165);
}

.carousel-jump-button {
  background-color: #000000;

  width: calc(var(--button-scaler) * 0.6);
  height: calc(var(--button-scaler) * 0.6);

  border: 3px solid #000000;
  border-radius: var(--button-scaler);

  cursor: pointer;

  align-self: center;

  margin: 0 10px 0 10px;
  padding: 0;
}

.carousel-jump-button:focus {
  outline: 2px solid rgb(5, 165, 165);
}

.carousel-jump-button:hover {
  border-color: #505050;
  background-color: #505050;
}

.carousel-jump-button.selected {
  border-color: #000000;
  background-color: #ffffff;
}

.carousel-button-img {
  width: var(--button-scaler);
  height: var(--button-scaler);
}

.carousel-step-button.prev {
  background-image: url("../img/chevron-left-black.svg");
  background-position: center;
  background-size: contain;
}

.carousel-step-button.next {
  background-image: url("../img/chevron-right-black.svg");
  background-position: center;
  background-size: contain;
}

.carousel-step-button.prev:hover {
  background-image: url("../img/chevron-left-grey.svg");
}

.carousel-step-button.next:hover {
  background-image: url("../img/chevron-right-grey.svg");
}

.goal-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 25px;
  padding: 50px;

  width: 1200px;
  height: 500px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.goal-text {
  display: flex;
  flex-direction: column;

  width: 600px;
}

.goal-header-group {
  display: flex;
  flex-direction: row;

  font-size: 30px;
  padding-bottom: 10px;
}

.goal-header {
  font-size: 1.2em;
}

.goal-number {
  /* background-color: rgb(5, 165, 165); */
  background: rgb(4, 132, 132);
  background: linear-gradient(
    0deg,
    rgba(4, 132, 132, 1) 0%,
    rgba(5, 165, 165, 1) 100%
  );
  color: white;

  display: flex;
  justify-content: center;

  box-sizing: border-box;
  padding: 5px;

  height: 40px;
  width: 40px;
  border-radius: 30px;
}

.goal-header {
  box-sizing: border-box;
  padding: 5px;
}

.goal-image-container {
  margin: 0 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}

.goal-image-container:nth-child(even) {
  margin: 0 0 0 25px;
}

.goal-image {
  width: 400px;
  transition: all 0.25s ease;
}

@media (max-width: 1350px) {
  .section-container {
    padding: 0 25px 0 25px;

    width: calc(100% - 50px);
  }

  .goal-container {
    width: calc(100% - 50px);
  }

  .carousel-item {
    width: 100%;
  }

  .carousel-container {
    width: 100%;
  }

  .goal-text {
    width: calc(100% - 400px - 50px);
  }
}

@media (max-width: 1100px) {
  .goal-container {
    display: flex;
  }

  .goal-header {
    font-size: 1em;
  }

  .goal-paragraph {
    font-size: 0.8em;
  }

  .goal-image {
    width: 300px;
  }

  .goal-text {
    width: calc(100% - 300px - 50px);
  }
}

@media (max-width: 800px) {
  .carousel-item {
    height: fit-content;
  }
  .goal-container {
    height: fit-content;
  }
}

.spacer {
  height: 500px;
}
